#{extends 'main.html' /}
#{set title:'Covami - Mon compte - Editer' /}

<h1>Editer mon compte</h1>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}
 
#{form @sauvegardermoncompte()}
	<input type="hidden" name="user.id" value="${user.id}" />
	<h1>Mes informations</h1>
	<p>
		<label for="user.mail">E-mail</label>
	    <input type="text" name="user.email" value="${user?.email}" />
	    <span class="error">#{error 'user.email' /}</span>
   	</p>
    <p>
	    <label for="user.password">Mot de passe</label>
	    <input type="password" name="user.password" value="${user?.password}" />
	    <span class="error">#{error 'user.password' /}</span>
 	</p>
 	<p>
	    <label for="user.nom">Nom</label>
	    <input type="text" name="user.nom" value="${user?.nom}" />
	    <span class="error">#{error 'user.nom' /}</span>
	</p>
	<p>
	    <label for="user.prenom">Prenom</label>
	    <input type="text" name="user.prenom" value="${user?.prenom}" />
	    <span class="error">#{error 'user.prenom' /}</span>
	</p>
	<p>
	    <label for="user.telephoneMobile">T&eacute;l. Mobile</label>
	    <input type="text" name="user.telephoneMobile" value="${user?.telephoneMobile}" />
	    <span class="error">#{error 'user.telephoneMobile' /}</span>
	</p>
	<p>
	    <label for="user.telephonePerso">T&eacute;l. Perso</label>
	    <input type="text" name="user.telephonePerso" value="${user?.telephonePerso}" />
	    <span class="error">#{error 'user.telephonePerso' /}</span>
	</p>
	<p>
	    <label for="user.dateNaissance">Date de naissance</label> 
	    <input type="text" name="user.dateNaissance" value="${user?.dateNaissance.format('dd/MM/yyyy')}" />
	    <span class="error">#{error 'user.dateNaissance' /}</span>
	</p>
	<p>
	    <label for="user.rue">Rue</label>
	    <input type="text" name="user.rue" value="${user?.rue}" />
	    <span class="error">#{error 'user.rue' /}</span>
	</p>
	<p>
	    <label for="user.cp">Code postal</label>
	    <input type="text" name="user.cp" value="${user?.cp}" />
	    <span class="error">#{error 'user.cp' /}</span>
	</p>
	<p>
	    <label for="user.ville">Ville</label>
	    <input type="text" name="user.ville" value="${user?.ville}" />
	    <span class="error">#{error 'user.ville' /}</span>
	</p>
	<p>
	    <label for="user.pays">Pays</label>
	    <input type="text" name="user.pays" value="${user?.pays}" />
	    <span class="error">#{error 'user.pays' /}</span>
	</p>

	<br />
	<h1>Ma voiture</h1>
	<p> 
		<label for="v.type">Type</label> 
		<select name="v.type">
			<option value="-1">-- Sans voiture --</option>
			#{if v.type == "petite"} <option value="petite" selected="selected">Petite</option> #{/if}
			#{else}	<option value="petite">Petite</option> #{/else}
			#{if v.type == "moyenne"} <option value="moyenne" selected="selected">Moyenne</option> #{/if}
			#{else}	<option value="moyenne">Moyenne</option> #{/else}
			#{if v.type == "grande"} <option value="grande" selected="selected">Grande</option> #{/if}
			#{else}	<option value="grande">Grande</option> #{/else}
		</select> 
	</p> 
	<p>
		<label for="v.nbPlaces">Nb Places</label> 
		<select name="v.nbPlaces">
			<option value="-1">-- Sans voiture --</option>
			#{if v.nbPlaces == "2"} <option value="2" selected="selected">2</option> #{/if}
			#{else}	<option value="2">2</option> #{/else}
			#{if v.nbPlaces == "3"} <option value="3" selected="selected">3</option> #{/if}
			#{else}	<option value="3">3</option> #{/else}
			#{if v.nbPlaces == "4"} <option value="4" selected="selected">4</option> #{/if}
			#{else}	<option value="4">4</option> #{/else}
			#{if v.nbPlaces == "5"} <option value="5" selected="selected">5</option> #{/if}
			#{else}	<option value="5">5</option> #{/else}
			#{if v.nbPlaces == "6"} <option value="6" selected="selected">6</option> #{/if}
			#{else}	<option value="6">6</option> #{/else}
			#{if v.nbPlaces == "7"} <option value="7" selected="selected">7</option> #{/if}
			#{else}	<option value="7">7</option> #{/else}
			#{if v.nbPlaces == "8"} <option value="8" selected="selected">8</option> #{/if}
			#{else}	<option value="8">8</option> #{/else}
			#{if v.nbPlaces == "9"} <option value="9" selected="selected">9</option> #{/if}
			#{else}	<option value="9">9</option> #{/else}
		</select> 
	</p>
	
	<br />
	<h1>Mes criteres</h1>
	#{if c1 == "animaux"} <input type="checkbox" name="c1" value="animaux" checked>Animaux&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{/if}
	#{else}	<input type="checkbox" name="c1" value="animaux">Animaux&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{/else}
	#{if c2 == "musique"} <input type="checkbox" name="c2" value="musique" checked>Musique&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{/if}
	#{else}	<input type="checkbox" name="c2" value="musique">Musique&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{/else}
	#{if c3 == "fumeur"} <input type="checkbox" name="c3" value="fumeur" checked>Fumeur#{/if}
	#{else}	<input type="checkbox" name="c3" value="fumeur">Fumeur#{/else}
	
	<p>
	    <input type="submit" value="Sauvegarder" />
	</p>
#{/form}
