#{extends 'main.html' /}
#{set title:'Covami - Mes amis' /}

<h1>Mes amis</h1>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{form @recherche(field)}
	<div style="text-align:center;">
		<input type="text" name="field" value="Nom, Pr&eacute;nom, Email" style="text-align:center;" onClick="javascript:this.value=''"/>
		<input type="submit" value="Rechercher" style="margin: auto 0;"/>
	</div>
#{/form}

#{if mesAmis}
	<div id="ami">
	<hr>
	#{list items:mesAmis, as:'ami' } 
		<div class="content">
					
			<div class="nom">${ami.prenom.capitalizeWords()}&nbsp;${ami.nom.capitalizeWords()}&nbsp;
			<a href="@{Commentaires.commentaires(ami.id)}" title="Voir ses commentaires"><img src="/public/images/com.png"/ style="margin-top: -4px; float: right;"></a>
			</div>
			
			<div class="bouton"><a class="submit" href="@{Utilisateurs.supprimerami(ami.id)}" onclick="return(confirm('Etes-vous sur de vouloir supprimer votre ami ?'));">Supprimer</a></div>
		</div>
 	#{/list}
 	</div>&nbsp;
#{/if}
#{else}
	<p>Vous n'avez aucun ami !</p>
#{/else}
 
