#{extends 'main.html' /}
#{set title:'Covami - Mes covoiturages' /}
%{def couleur = 0}%

<h1>Mes covoiturages</h1>

#{if mescovoiturages}
<table id="tableMesAnnonces">
  <tr class="tableEntete">
  	<td>Annonceur</td>
  	<td>Ville depart</td>
  	<td>Ville arriv&eacute;e</td>
  	<td style="width : 100px;">Date depart</td>
  	<td style="width : 100px;">Heure depart</td>
  	<td style="width : 90px;">Tarif total</td>
  	<td style="width : 90px;">Places</td>
  	
  	
  </tr>
  #{list items:mescovoiturages, as:'a' }
  	#{list items:a.mesPassagers, as:'p' }
  		
  		#{if p.mesPassagers.id == moi_id}  
		  	#{if couleur == 0}
		  		<tr class="tableBody" style="background-color : #C4C4C4">
		  		%{couleur = 1}%
		  	#{/if}
		  	#{else}
		  		<tr class="tableBody" style="background-color : white">
		  		%{couleur = 0}%
		  	#{/else}
				<td style="text-align:left;"><a href="@{Utilisateurs.profil(a.monUtilisateur.id)}">${a.monUtilisateur.prenom}&nbsp;${a.monUtilisateur.nom}</a></td>
		  		<td>${p.villeDebut.nom}</td>
		  		<td>${p.villeFin.nom}</td>
		  		<td style="width : 100px;">${a.monTrajet.dateDepart?.format('dd/MM/yyyy')}</td>
		  		<td style="width : 100px;">${a.monTrajet.dateDepart?.format('HH:mm')}</td>
		  		<td style="width : 90px;">${p.prixParPassager}&euro;</td>
		  		<td style="width : 90px;">${a.placesRestantes}</td>
		  		<td style="width: 80px;"><a class="lien" href="@{Annonces.details(a.id)}">D&eacute;tails</a></td>
		  	</tr> 
	  	#{/if}
	#{/list}
  #{/list}
  
  
</table>
#{/if}
#{else}
	<p>Vous ne participez &agrave; aucun covoiturage !</p>
#{/else}
