#{extends 'main.html' /}
#{set title:'Covami - Mes amis' /}

<h1>Recherche d'ami</h1>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{if mesDemandes}
	#{list items:mesDemandes, as:'ami' } 
		<p>
			${ami.prenom.capitalizeWords()}&nbsp;
			${ami.nom.capitalizeWords()}&nbsp;
			<a class="submit" href="@{Utilisateurs.accepterdemande(ami.id)}" >Accepter</a>
			<a class="submit" href="@{Utilisateurs.refuserdemande(ami.id)}" >Refuser</a>
		</p>
 	#{/list}
#{/if}
#{else}
	<p>Aucune demande !</p>
#{/else}
 
