#{extends 'main.html' /}
#{set title:'Covami - Mes demandes' /}

<h1>Mes demandes</h1>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{if mesDemandes || mesAnnonces || mesNotifications}
	<div id="ami">
	<hr>
	#{list items:mesDemandes, as:'ami' }
		<div class="content"> 
			<div class="nom"><a href="@{Utilisateurs.profil(ami.id)}">${ami.prenom.capitalizeWords()}&nbsp;${ami.nom.capitalizeWords()}</a>&nbsp;(demande d'amititi&eacute;)</div>
			<div class="bouton">
				<a class="submit" href="@{Utilisateurs.accepterdemande(ami.id)}" >Accepter</a>
				<a class="submit" href="@{Utilisateurs.refuserdemande(ami.id)}" >Refuser</a>
			</div>
		</div>
 	#{/list}
 	#{list items:mesAnnonces, as:'a' }
 		#{list items:a.mesDemandePassagers, as:'p' }
		<div class="content"> 
			<div class="nom"><a href="@{Utilisateurs.profil(p.id)}">${p.mesDemandePassagers.prenom.capitalizeWords()}&nbsp;${p.mesDemandePassagers.nom.capitalizeWords()}</a>
			(${p.nbPassagers} personne${p.nbPassagers.pluralize()})
			veut participer au trajet ${a.monTrajet.villeDepart.nom} - ${a.monTrajet.villeArrivee.nom}
			de ${p.villeDebut.nom} &agrave; ${p.villeFin.nom}
			pour ${p.prixParPassager} &euro; par personne
			du ${a.monTrajet.dateDepart.format('dd MMMM yyyy HH:mm', 'fr')}
			</div>
			<div class="bouton">
				<a class="submit" href="@{Utilisateurs.accepterDemandeAnnonce(p.id)}" >Accepter</a>
				<a class="submit" href="@{Utilisateurs.refuserDemandeAnnonce(p.id)}" >Refuser</a>
			</div>
		</div>
		#{/list}
 	#{/list}
 	#{list items:mesNotifications, as:'notif' }
 		#{if notif.accepter == 1}
			<div class="content"> 
				<div class="nom">${notif.monNotifieur.prenom.capitalizeWords()}&nbsp;${notif.monNotifieur.nom.capitalizeWords()}&nbsp;a accept&eacute; votre demande de participation.</div>
				<div class="bouton">
					<a class="submit" href="@{Utilisateurs.supprimernotification(notif.id)}" >OK</a>
				</div>
			</div>
		#{/if}
		#{if notif.accepter == 0}
			<div class="content"> 
				<div class="nom">${notif.monNotifieur.prenom.capitalizeWords()}&nbsp;${notif.monNotifieur.nom.capitalizeWords()}&nbsp;a refus&eacute; votre demande de participation.</div>
				<div class="bouton">
					<a class="submit" href="@{Utilisateurs.supprimernotification(notif.id)}" >Supprimer</a>
				</div>
			</div>
		#{/if}
 	#{/list}
 	</div>&nbsp;
#{/if}
#{else}
	<p>Aucune demande !</p>
#{/else}

