#{extends 'main.html' /}
#{set title:'Covami - Rechercher des amis' /}

<h1>Recherche d'ami</h1>

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{form @recherche(field)}
	<div style="text-align:center;">
		<input type="text" name="field" value="Nom, Pr&eacute;nom, Email" style="text-align:center;" onClick="javascript:this.value=''"/>
		<input type="submit" value="Rechercher" style="margin: auto 0;"/>
	</div>
#{/form}

#{if mesAmis}
	<div id="ami">
	<hr>
	#{list items:mesAmis, as:'ami' } 
		<div class="content">
			<div class="nom"><a href="@{Utilisateurs.profil(ami.id)}">${ami.prenom.capitalizeWords()}&nbsp;${ami.nom.capitalizeWords()}</a>&nbsp;
			<a href="@{Commentaires.commentaires(ami.id)}" title="Voir ses commentaires"><img src="/public/images/com.png" style="float:right; margin-top:-4px;"/></a>
			</div>
			<div class="bouton"><a class="submit" href="@{Utilisateurs.envoyerdemande(ami.id)}" >Envoyer une demande</a></div>
		</div>
 	#{/list}
 	</div>&nbsp;
#{/if}
#{else}
	<p>Aucun r&eacute;sultat !</p>
#{/else}
 
