#{extends 'main.html' /}
#{set title:'Covami - Commentaires' /}

<h1>Commentaire sur ${utilisateur.prenom}&nbsp;${utilisateur.nom}</h1>

#{if valide == "true"}
<form action="@{Commentaires.ajoutercommentaire()}" method="POST" style="text-align:center;">
	<input type="hidden" name="id_user" value="${utilisateur?.id}"/>
	<span class="error">#{error 'message' /}</span>
	<TEXTAREA name ="message" style="width : 425px; height: 100px;">commentaire</TEXTAREA><br/>
	<span class="error">#{error 'note' /}</span>
	<select name="note">
		<option value="">Note</option>
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	<input type="submit" class="submit" />
</form>
#{/if}
#{list items : commentaires, as: 'com'}
	<div style="height:25px;">
		<div class="auteurcom">${com.auteur}</div><br/>
		<span class="rightArrow" style""></span>
	</div>
	<div class="bloccommentaire">
		${com.message}
		<div class="note">
			${com?.note}/5
		</div>
	</div>
#{/list}


	
