#{extends 'main.html' /}
#{set title:'Covami - Mon compte - Editer' /}

<h1>Cr&eacute;er une annonce</h1>
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}
<form action="@{Annonces.enregistrerannonce()}" method="POST">
	<input type="hidden" name="annonce.id" value="${annonce.id}" />
	<p> 

		<label for="villeDepart_insee">Ville de d&eacute;part</label> 
		<select name="villeDepart_insee" style="width:280px;">


			<option value="-">------</option>
			#{list items:lesVilles, as:'ville' } 
				<option value="${ville.codeInsee}">${ville.nom}</option>
			#{/list}
		</select> 
	</p> 
	<p> 
		<label for="villeArrivee_insee">Ville d'arriv&eacute;e</label> 
		<select name="villeArrivee_insee" style="width:280px;">
		

			<option value="-">------</option>
			#{list items:lesVilles, as:'ville' } 
				<option value="${ville.codeInsee}">${ville.nom}</option>
			#{/list}
		</select> 
	</p> 
	<p> 
		<label for="tarifTotal" id="lbltarif"></label>
		<input type="hidden" id="tarifTotal" name="annonce.tarifParPersonne" value="${annonce.tarifParPersonne}" />
		<span class="error">#{error 'annonce.tarifParPersonne' /}</span>
	</p>
		<div id="tarif-slider" style="margin-left: 150px; margin-top: 27px; width: 280px;"></div>
	<p> 
		<label for="dateDepart">Date de d&eacute;part</label>
		<input id="datepicker" type="text" name="dateDepart" value=""/>
		<span class="error">#{error 'date' /}</span>
	</p>
		<div id="tarif-slider" style="margin-left: 150px; margin-top: 27px; width: 280px;"></div>
	<p>
	<p> 
		<label for="heureDepart">Heure de d&eacute;part</label>
		<input id="heureDepart" type="text" name="heureDepart" value="" />
		<span class="error">#{error 'heure' /}</span>
	</p>

	<p> 
		<label for="etapes">Escales</label>
		<select name="etapes" style="width:280px;">
			<option value="-">------</option>
			#{list items:lesVilles, as:'ville' } 
				<option value="${ville.codeInsee}">${ville.nom}</option>
			#{/list}
		</select> 
	</p>
	<p>
	    <input type="submit" value="Créer annonce" />
	</p>
</form>

  		
<script type="text/javascript" charset="utf-8">
	$(function() {
		$(document).ready(function() {
			$("#datepicker").datepicker({
				dateFormat:'dd/mm/yy', 
				showAnim:'fadeIn',
				dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
				monthNames: ['Janvier','F&eacute;vrier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','D&eacute;cembre'],
				autoSize: true,
				minDate: '0'
			});
		});
		
		$("#tarif-slider").slider({
			min: 0,
			max: 100,
			step: 1,
			value: 50,
			slide: function(event, ui) {
				$("#lbltarif").html('Tarif total - ' + ui.value + ' &euro;');
			},
			change: function(event, ui) {
				// Pour le champs input hidden
				$("#tarifTotal").attr("value", $("#tarif-slider").slider("values", 0));
			}
		});
		$("#lbltarif").html('Tarif total - ' + $("#tarif-slider").slider("values", 0) + ' &euro;');
		
		$('#heureDepart').timepicker({});
	});
</script>
