#{extends 'main.html' /}
#{set title:'Covami - Mon compte - Editer' /}

<h1>Cr&eacute;er une annonce</h1>
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}
<form action="@{Annonces.enregistrerannonce()}" method="POST">
	<input type="hidden" name="annonce.id" value="${annonce.id}" />
	<p> 
		<label for="villeDepart_id">Ville de depart</label> 
		<select name="villeDepart_id">
			#{list items:lesVilles, as:'ville' } 
				
				<option value="${ville.codeInsee}">${ville.nom}</option>
			#{/list}
		</select> 
	</p> 
	
	<p>
	    <input type="submit" value="Créer annonce" />
	</p>
</form>