#{extends 'main.html' /}
#{set title:'Covami - Mes annonces' /}


<h1>D&eacute;tails de l'annonce</h1>
<table id="detailAnnonce">
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Date de depart</td>
		<td>${annonce.monTrajet.dateDepart}</td>
	</tr>
	<tr>
		<td>Tarif par personne</td>
		<td>${annonce.tarifParPersonne}&euro;</td>
	</tr>
	<tr>
		<td>Ville de depart</td>
		<td>${annonce.monTrajet.villeDepart.nom}</td>
	</tr>
	<tr>
		<td>Ville d'arriv&eacute;e</td>
		<td>${annonce.monTrajet.villeArrivee.nom}</td>
	</tr>
	<tr>
		<td>Escales</td>
		<td></td>
	</tr>
</table><br/>

<a href="@{Annonces.mesannonces()}">Revenir &agrave; la liste</a>