#{extends 'main.html' /}
#{set title:'Covami - Détails annonce' /}


<h1>D&eacute;tails de l'annonce</h1>

<div id="details">
	<span class="nom_label">Annonceur</span>
	<span class="nom">${annonce.monUtilisateur.prenom.capitalizeWords()}&nbsp;${annonce.monUtilisateur.nom.capitalizeWords()}</span>

	<span class="nom_label">Date de depart</span>
	<span class="nom">${annonce.monTrajet.dateDepart.format('dd MMMM yyyy hh:mm', 'fr')}</span>
	
	<span class="nom_label">Tarif par personne</span>
	<span class="nom">${annonce.tarifParPersonne}&euro;</span>
	
	<span class="nom_label">Ville de depart</span>
	<span class="nom">${annonce.monTrajet.villeDepart.nom}</span>
	
	<span class="nom_label">Ville d'arriv&eacute;e</span>
	<span class="nom">${annonce.monTrajet.villeArrivee.nom}</span>
	
	<span class="nom_label" style="height:30px;">Escales</span>
	<span class="nom" style="height:30px;">
		<select style="width : 350px;">
			
		%{
     		for(ville in etapes) { 
		}%
		     <option>${ville.nom}</option>
		%{
		     }
		}%
			
		</select>
	</span>&nbsp;	
</div>
<a class="submit" href="javascript:history.back()">Revenir &agrave; la liste</a>
#{if moi == annonce.monUtilisateur}
	<a class="submit" href="@{Annonces.editermonannonce(annonce.id)}">Editer</a>
#{/if}
#{if moi != annonce.monUtilisateur}
	#{if dejaenvoye==false}	
	<a class="submit" href="@{Annonces.demandeparticipation(annonce.id)}">Demande de participation</a>
	#{/if}
#{/if}