#{extends 'main.html' /}
#{set title:'Covami - Détails annonce' /}
%{def demandeEnCours = 0}%
%{def dejaDemande = 0}%

<h1>D&eacute;tails de l'annonce</h1>

<div id="details">
	<span class="nom_label">Annonceur</span>
	<span class="nom"><a href="@{Utilisateurs.profil(annonce?.monUtilisateur.id)}">${annonce?.monUtilisateur?.prenom.capitalizeWords()}&nbsp;${annonce?.monUtilisateur?.nom.capitalizeWords()}</a></span>

	<span class="nom_label">Date de depart</span>
	<span class="nom">${annonce?.monTrajet?.dateDepart.format('dd MMMM yyyy hh:mm', 'fr')}</span>
	
	<span class="nom_label">Tarif total</span>
	<span class="nom">${annonce?.tarifParPersonne}&euro;</span>
	
	<span class="nom_label">Ville de depart</span>
	<span class="nom">${annonce?.monTrajet?.villeDepart?.nom}</span>
	
	<span class="nom_label">Ville d'arriv&eacute;e</span>
	<span class="nom">${annonce?.monTrajet?.villeArrivee?.nom}</span>
	
	<span class="nom_label">Places restantes</span>
	<span class="nom">${annonce?.placesRestantes}</span>
	
	#{if annonce.monTrajet.mesEtapes}
		<span class="nom_label">Escales</span>
		<span class="nom">-&nbsp;
			#{list items: annonce.monTrajet.mesEtapes, as:'etape' } 
				${etape.nom.capitalizeWords()}&nbsp;-&nbsp;
	 	 	#{/list}
 	 	</span>
	#{/if}
	#{if annonce.monUtilisateur.mesCriteres}
		<span class="nom_label">Crit&egrave;res accept&eacute;s</span>
		<span class="nom">-&nbsp;
			#{list items:annonce.monUtilisateur.mesCriteres, as:'critere' } 
				${critere.capitalizeWords()}&nbsp;-&nbsp;
	 	 	#{/list}
 	 	</span>
	#{/if}
	#{if annonce.mesPassagers}
		<span class="nom_label">Passagers</span>
		<span class="nom">-&nbsp;
			#{list items:annonce.mesPassagers.mesPassagers, as:'passager' } 
				${passager.prenom.capitalizeWords()}&nbsp;${passager.nom.capitalizeWords()}&nbsp;-&nbsp;
	 	 	#{/list}
 	 	</span>
	#{/if}
	&nbsp;
</div>
<a class="submit" href="javascript:history.back()">Revenir &agrave; la liste</a>
#{if moi == annonce.monUtilisateur}
	<a class="submit" href="@{Annonces.editermonannonce(annonce.id)}">Editer</a>
#{/if}
#{list items : annonce.mesDemandePassagers, as: 'demande'}
	#{list items : demande.mesDemandePassagers, as: 'd'}
		#{if d.id == moi.id}
			%{demandeEnCours = 1}%
		#{/if}
	#{/list}
#{/list}
#{list items : annonce.mesPassagers, as: 'passager'}
	#{list items : passager.mesPassagers, as: 'p'}
		#{if p.id == moi.id}
			%{dejaDemande = 1}%
		#{/if}
	#{/list}
#{/list}
	#{if demandeEnCours == 0 && dejaDemande == 0 && dateok && !isMonAnnonce && annonce.placesRestantes > 0}
		<a class="submit" href="@{Annonces.demandeparticipation(annonce.id)}">Demande de participation</a>
	#{/if}
	#{if dejaDemande == 1 && dateok}
		<a class="submit" href="@{Annonces.annulerparticipation(annonce.id)}" onclick="return(confirm('Etes-vous sur de vouloir annuler votre participation ?'));">Je ne veux plus participer</a>
	#{/if}
	#{if dateok}
		<a class="submit" href="@{Annonces.supprimerannonce(annonce.id)}" onclick="return(confirm('Etes-vous sur de vouloir annuler votre participation ?'));">Annuler cette annonce</a>
	#{/if}
