#{extends 'main.html' /}
#{set title:'Covami - Edition de mon annonce' /}


<h1>Editer mon annonce</h1>

<form action="@{Annonces.sauvegardermonannonce()}" method="POST">
	<input type="hidden" name="annonce.id" value="${annonce.id}" />
	<p> 
		<label for="depart">Ville de d&eacute;part</label> 
		<select id="villeDepart" class="etape" name="depart">
			<option value="-">------</option>
			#{list items:lesVilles, as:'ville' } 
				<option value="${ville.id}" #{if annonce.monTrajet.villeDepart.id == ville.id} selected="selected" #{/if}>${ville.nom}</option>
			#{/list}
		</select> 
	</p> 
	<p> 
		<label for="arrivee">Ville d'arriv&eacute;e</label> 
		<select id="villeArrivee" class="etape" name="arrivee">
			<option value="-">------</option>
			#{list items:lesVilles, as:'ville' } 
				<option value="${ville.id}" #{if annonce.monTrajet.villeArrivee.id == ville.id} selected="selected" #{/if}>${ville.nom}</option>
			#{/list}
		</select> 
	</p> 
	<p> 
		<label for="tarifTotal" id="lbltarif"></label>
		<input type="hidden" id="tarifTotal" name="annonce.tarifParPersonne" value="${annonce.tarifParPersonne}" />
		<span class="error">#{error 'annonce.tarifParPersonne' /}</span>
	</p>
		<div id="tarif-slider" style="margin-left: 150px; margin-top: 27px; width: 280px;"></div>
	<p>
	<p> 
		<label for="dateDepart">Date de d&eacute;part</label>
		<input id="datepicker" type="text" name="date" value="${annonce.monTrajet.dateDepart.format('dd/MM/yyyy')}"/>
		<span class="error">#{error 'date' /}</span>
	</p>
	<p> 
		<label for="heureDepart">Heure de d&eacute;part</label>
		<input id="heureDepart" type="text" name="heure" value="${annonce.monTrajet.dateDepart.format('hh:mm')}" />
		<span class="error">#{error 'heure' /}</span>
	</p>
	<p>
		<label for="escales">Mes escales</label>
	</p>
		<div id="escales">
			&nbsp;
		</div>
	<p>
		<input id="mesAnciennesEtapes" name="annonce.monTrajet.mesEtapes" value="${annonce?.monTrajet?.mesEtapes.id}" />
		<input id="mesEscales" name="mesEscales" type="hidden" />
	    <input id="submit" type="submit" value="Sauvegarder" />
	</p>
</form>

  		
<script type="text/javascript" charset="utf-8">
	$(function() {
		$(document).ready(function() {
			$("#datepicker").datepicker({
				dateFormat:'dd/mm/yy', 
				showAnim:'fadeIn',
				dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
				monthNames: ['Janvier','F&eacute;vrier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','D&eacute;cembre'],
				autoSize: true,
				minDate: '0'
			});
			
			var dep = $("#villeDepart option:selected").val();
			var arr = $("#villeArrivee option:selected").val();
			if (dep != "-" && arr != "-") {
				var listeEscales = #{jsAction @chercheretapes(':depart', ':arrivee') /}
				$('#escales').load(
					listeEscales({depart: dep, arrivee: arr})
				)			
			}
		});
		
		$("#tarif-slider").slider({
			min: 0,
			max: 100,
			step: 1,
			value: ${annonce.tarifParPersonne},
			slide: function(event, ui) {
				$("#lbltarif").html('Tarif total - ' + ui.value + ' &euro;');
			},
			change: function(event, ui) {
				// Pour le champs input hidden
				$("#tarifTotal").attr("value", $("#tarif-slider").slider("values", 0));
			}
		});
		$("#lbltarif").html('Tarif total - ' + $("#tarif-slider").slider("values", 0) + ' &euro;');
		
		$('#heureDepart').timepicker({});
		
		$(".etape").change(function() {
			var dep = $("#villeDepart option:selected").val();
			var arr = $("#villeArrivee option:selected").val();
			var anciennes = ${annonce?.monTrajet?.mesEtapes.id};
			if (dep != "-" && arr != "-") {
				var listeEscales = #{jsAction @chercheretapes(':depart', ':arrivee', ':mesAnciennesEtapes') /}
				$('#escales').load(
					listeEscales({depart: dep, arrivee: arr, mesAnciennesEtapes: anciennes})
				)			
			}
		});
		
		$("#submit").click(function() {
			var mesetapes = "";
			$(".lesetapes:checkbox:checked").each(function(i) {
				mesetapes += $(this).val() + " ";
			});
			$("#mesEscales").val(mesetapes);
		});
		
	});
</script>