<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'public/stylesheets/jquery-ui-1.8.12.custom.css'}" />
        <script src="@{'/public/javascripts/jquery-1.5.1.min.js'}" type="text/javascript" charset="utf-8"></script>
  		<script src="@{'/public/javascripts/jquery-ui-1.8.12.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
  		<script src="@{'/public/javascripts/jquery-ui-timepicker-addon.js'}" type="text/javascript" charset="utf-8"></script>
  		#{get 'moreScripts' /}
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
				Covami
            </div>
            <ul id="tools">
	            <!--Si on est connecté, on dit bonjour et on propose de se déconnecter -->
	            <li>
					#{if security != null}
						<a class="submit" href="@{Utilisateurs.mesdemandes()}">${nbDemandes}</a>
						<a class="submit" href="@{Secure.logout()}">Déconnexion [${user.email}]</a>
					#{/if}
					<!-- Sinon on propose de se logger -->
					#{else}
						<a href="@{Secure.login()}">Connexion</a>&nbsp;&nbsp;&nbsp;
						<a href="@{Utilisateurs.inscription()}">S'inscrire</a>
					#{/else}
                </li>
                
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                 	<ul id="adminMenu">
                 	#{if security != null}
		            	<li class="${request.controller == 'Utilisateurs' ? 'selected' : ''}">
		                	<a href="@{Application.index()}">Accueil</a>
		                	<a href="@{Utilisateurs.moncompte()}">Mon compte</a>
		                	<a href="@{Utilisateurs.mesamis()}">Mes amis</a>
		                	<a href="@{Annonces.annonces()}">Annonces</a>
		                </li>
		         	#{/if}
		    		</ul>
		    	<h2>Le seul moyen de voyager avec vos amis !</h2>
            </div>
        </div>
        
        <div id="main">
        #{if flash.success}
		    <p style="color:green">
		        ${flash.success}
		    </p>
		#{/if}
            #{doLayout /} 
        </div>
        
        <p id="footer">
            Gaudéric Pledran - Philippe Chauvelin - Mélina Fontaine
        </p>
        
    </body>
</html>